{% extends 'template_generico.html' %}
{% block conteudo %}
<div class="p-4 ">
    <h1 id="tituloHistorico" class="display-4 fw-bold text-black p-3 text-white text-center" style="margin-bottom: 50px">Lista de Transações</h1>
    <div class="container1">
      <div class="canto-esquerdo">
        <p class="text-white" id="totalRegistros"></p>
      </div>
      <div class="canto-direito">
       <input class="form-control text-center" type="search" id="textoBusca" placeholder="Digite qualquer caractere da tabela para buscar" aria-label="Search" onkeyup="filtrarRegistros()">
      </div>
    </div>
      <div class="table-responsive">
          <table id="tableBody" class="table table-striped table-bordered border-black shadow-lg" style="background-color: rgb(255, 255, 255);">
          <h1 class="display-4 fw-bold text-black p-3 text-white text-center" id="mensagemSemRegistro" style="display: none;">Nenhum registro encontrado.</h1>
              <thead class="thead-default">
                  <tr>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Status da transação</th>
                      <th>Status no sistema</th>
                      <th>Valor</th>
                      <th>Forma de pagamento</th>
                      <th>Parcelas</th>
                      <th>Data e hora</th>
                  </tr>
              </thead>
              <tbody>
                  {% for pagamento in pagamentos %}
                  <tr>
                      <td>{{ pagamento.nome }}</td>
                      <td>{{ pagamento.email }}</td>
                      <td>{{ pagamento.status }}</td>
                      <td>{{ pagamento.status_no_sistema }}</td>
                      <td>{{ pagamento.valor }}</td>
                      <td>{{ pagamento.forma_pagamento }}</td>
                      <td>{{ pagamento.parcelas }}</td>
                      <td>{{ pagamento.data }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      <div class="text-end">
          <button class="btn btn-light" id="btnAnterior" disabled>Anterior</button>
          <button class="btn btn-light" id="btnProximo">Próximo</button>
      </div>
   
</div>

<!-- paginacao -->
<script>
  var paginaAtual = 1;
  var registrosPorPagina = 10;
  var registros; // Definindo a variável globalmente


  window.onload = function () {
    registros = document.getElementById("tableBody").getElementsByTagName("tr");
    document.getElementById("totalRegistros").innerText = "Total de Registros no DB: " + registros.length;
    exibirPagina(paginaAtual);
  };

  function exibirPagina(pagina) {
    for (var i = 0; i < registros.length; i++) {
      registros[i].style.display = "none";
    }

    var inicio = (pagina - 1) * registrosPorPagina;
    var fim = inicio + registrosPorPagina;

    for (var i = inicio; i < fim && i < registros.length; i++) {
      registros[i].style.display = "";
    }

    atualizarBotoesNavegacao();
  }

  function atualizarBotoesNavegacao() {
    var btnAnterior = document.getElementById("btnAnterior");
    var btnProximo = document.getElementById("btnProximo");

    btnAnterior.disabled = paginaAtual === 1;
    btnProximo.disabled = paginaAtual === Math.ceil(registros.length / registrosPorPagina);
  }

  document.getElementById("btnAnterior").addEventListener("click", function () {
    if (paginaAtual > 1) {
      paginaAtual--;
      exibirPagina(paginaAtual);
    }
  });

  document.getElementById("btnProximo").addEventListener("click", function () {
    if (paginaAtual < Math.ceil(registros.length / registrosPorPagina)) {
      paginaAtual++;
      exibirPagina(paginaAtual);
    }
  });
</script>

<script>
  function filtrarRegistros() {
    var textoBuscado = document.getElementById("textoBusca").value.toLowerCase();
    var registros = document.getElementById("tableBody").getElementsByTagName("tr");
    var contadorRegistros = 0;

    for (var i = 0; i < registros.length; i++) {
      var linha = registros[i];
      var celulas = linha.getElementsByTagName("td");
      var encontrou = false;
      for (var j = 0; j < celulas.length; j++) {
        if (celulas[j].textContent.toLowerCase().includes(textoBuscado)) {
          encontrou = true;
          break;
        }
      }
      if (encontrou) {
        linha.style.display = "";
        contadorRegistros++;
      } else {
        linha.style.display = "none";
      }
    }

    var mensagemSemRegistro = document.getElementById("mensagemSemRegistro");
    var tituloHistorico = document.getElementById("tituloHistorico");
    var totalRegistros = document.getElementById("totalRegistros");
    var btnAnterior = document.getElementById("btnAnterior");
    var btnProximo = document.getElementById("btnProximo");
    if (contadorRegistros === 0) {
      mensagemSemRegistro.style.display = "";
      tituloHistorico.style.display = "none";
      totalRegistros.style.display = "none";
      btnAnterior.style.display = "none";
      btnProximo.style.display = "none";
    } else {
      mensagemSemRegistro.style.display = "none";
      tituloHistorico.style.display = "";
      totalRegistros.style.display = "";
      btnAnterior.style.display = "";
      btnProximo.style.display = "";
    }
  }
</script>


{% endblock %}
