
.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
    padding: 0;
}

.canto-esquerdo {
  justify-self: left;
}

.canto-direito {
  width: 35%;
  justify-self: end;
}

.canto-direito-nav{
  display: flex; /* Faz os itens ficare um ao lado do outro */  
  justify-content: end;
}


.container-graficos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  margin-bottom: 30px;
  padding: 0;
}

.grid1, .grid3, .grid4 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-grafico {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
} 

